
        <footer class = "fixed-bottom">Dharmesh Patel 2019</footer>
        <script>
            //make current page active in nav bar
            var current = location.pathname.substring(1);;
            if(current.indexOf('/') !== -1) current = current.substring(0, current.indexOf('/'));

            $('nav * a').each(function(){
                var $this = $(this);
                // if the current path is like this link, make it active
                if($this.attr('href').indexOf(current) !== -1){
                    $this.addClass('active');
                }
            });
            
            $(document).ready(function () {
                $(".toggle").on('click', function () {
                    $("aside").toggleClass('d-none');
                });
            });
        </script>
    </body>
</html>