<% include partials/header %>

    <div class="container">
        <H1>Projects</H1>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Georgia Condom Finder <span class="badge badge-pill badge-success">Android App</span></h5>
                        <p class="card-text">
                            Android app for the state of Georgia that allowed users to search for local health centers. 
                            The app also provides users with information on STIs.
                        </p>
                        <a href="#" class="btn btn-primary">More Details</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Grade Predicter Neural Network <span class="badge badge-pill badge-primary">Webpage</span></h5>
                        <p class="card-text">Neural network trained to predict grades in future classes.</p>
                        <a href="#" class="btn btn-primary">More Details</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">BK Management System</h5>
                        <p class="card-text">Online information management system that handles data collection and analysis, event registration, payment processing and database upkeep. </p>
                        <a href="#" class="btn btn-primary">More Details</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Volunteer CICO System </h5>
                        <p class="card-text">Form based desktop application check in check out system for local food kitchen.</p>
                        <a href="#" class="btn btn-primary">More Details</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">BK Management System App </h5>
                        <p class="card-text">IPhone and Android app counterparts to the BK Management System. </p>
                        <a href="#" class="btn btn-primary">More Details</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Yelpcamp Project </h5>
                        <p class="card-text">Online review website for campgrounds. Created during coding bootcamp.</p>
                        <a href="#" class="btn btn-primary">More Details</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Custom Box Mobile App </h5>
                        <p class="card-text">Custom Android app that allows user to monitor deep folder activity without clicking down to the deepest subfolder levels. </p>
                        <a href="#" class="btn btn-primary">More Details</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Drumkit Webpage </h5>
                        <p class="card-text">Webpage that allows users to play a drumset using their keyboard. </p>
                        <a href="#" class="btn btn-primary">More Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


<% include partials/footer %>
