<% include partials/header %>

    <div class="container">
        <H1>Projects</H1>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Georgia Condom Finder <span class="badge badge-pill badge-success">Android App</span></h5>
                        <p class="card-text">
                            Android app for the state of Georgia that allowed users to search for local health centers. 
                            The app also provides users with information on STIs.
                        </p>
                        <a href="#" class="btn btn-primary">More Details</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Grade Predicter Neural Network <span class="badge badge-pill badge-primary">Webpage</span></h5>
                        <p class="card-text">Neural network trained to predict grades in future classes.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


<% include partials/footer %>
