<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/timeline.css">

<div class="container">
    <span class="resume-section resume-about row">
        <h2 class="header col-12">Dharmesh Patel: A Short Synopsis</h2>
        <span class="col-lg-4 col-xs-12">
            <img src="/resources/cropped.jpg">
        </span>
        <span class="col-lg-4 col-xs-12">
            <p>
                I am a student currently pursuing my <strong>Master's in Software Engineering</strong> and will graduate in 
                <strong>May 2019</strong>.
            </p>
            <p>
                I am a Software Developer with skills in <strong>web and mobile application development</strong> 
                coupled with <strong>expereince as a Project Manager</strong>. 
            </p>
            <p>
                I aspire to be a <strong>Product Manager</strong>.
            </p>
            <span class="row social-media">
                <a href="https://www.linkedin.com/in/dharmesh-patel-893a39126/">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/DBPat">
                    <i class="fab fa-github"></i>
                </a>
            </span>
        </span>
        <hr class="d-block d-md-none col-12">
        <span class="col-lg-4 col-xs-12">
            <p>
                Outside of software development, I enjoy spending my time:
            </p>
            <ul>
                <li>studying behavioral psychology.</li>
                <li>learning how to be financially literate and understand investments.</li>
                <li>watching Japanese Anime.</li>
                <li>going to the gym.</li>
            </ul>
        </span>
    </span>
    <span class="resume-section row">
        <h2 class="header col-12">Experience</h2>
        <div class="col-lg-6 col-xs-12">
            <h4 style="text-align:center">Work History</h4>
            <div class="timeline ">
                <div class="container-tl right">
                    <div class="content">
                        <h2 class="position-title">Visiting Researcher</h2>
                        <div class="position-info">
                            <span class="position-location">
                            <div>Georgia Tech Research Institute</div>
                                <a href="https://www.gtri.gatech.edu/"  >
                                    <i style="font-size:0.9rem;" class="fas fa-link"></i>
                                </a>
                            </span>
                            <p class="position-time">December 2018 ~ Present</p>
                        </div>
                        <p>
                            Make android apps.
                        </p>
                    </div>
                </div>
                <div class="container-tl right">
                    <div class="content">
                        <h2 class="position-title">Program & Portfolio Management Intern</h2>
                        <div class="position-info">
                            <span class="position-location">
                            <div>Ultragenyx Pharmaceuticals</div>
                                <a href="https://www.ultragenyx.com/"  >
                                    <i style="font-size:0.9rem;" class="fas fa-link"></i>
                                </a>
                            </span>
                            <p class="position-time">May 2018 ~ August 2018</p>
                        </div>
                        <p>
                            Managed sharepoint stuff
                        </p>
                    </div>
                </div>
                <div class="container-tl right">
                    <div class="content">
                        <h2 class="position-title">Database Administrator</h2>
                        <div class="position-info">
                            <span class="position-location">
                            <div>Educational Opportunity Center</div>
                                <a href="https://eoc.mercer.edu/"  >
                                    <i style="font-size:0.9rem;" class="fas fa-link"></i>
                                </a>
                            </span>
                            <p class="position-time">SEP 2017 ~ DEC 2017</p>
                        </div>
                        <p>
                            I managed the team's database system and led migration of the system to the most up to date version. 
                            My main accomplishments included:
                        </p>
                        <ul>
                            <li>Refactoring and adding onto legacy code for the graphical user interface.</li>
                            <li>Migrating the system from 2003 Microsoft Access to 2013 Microsoft Access.</li>
                            <li>Increasing the system's speed over 50% by removing obsolete functionality.</li>
                        </ul>
                    </div>
                </div>
                <div class="container-tl right">
                    <div class="content">
                        <h2 class="position-title">Medical Operations Intern</h2>
                        <div class="position-info">
                            <span class="position-location">
                            <div>UCB, Inc.</div>
                                <a href="https://www.ucb-usa.com/Home"  >
                                    <i style="font-size:0.9rem;" class="fas fa-link"></i>
                                </a>
                            </span>
                            <p class="position-time">May 2017 ~ August 2017</p>
                        </div>
                        <p>
                            Managed sharepoint stuff
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
            <h4 style="text-align:center">Volunteerism</h4>
            <div class="timeline">
                <div class="container-tl right">
                    <div class="content">
                        <h2 class="position-title">Project Manager</h2>
                        <div class="position-info">
                            <span class="position-location">
                            <div>BAPS-North America</div>
                                <a href="https://www.baps.org"  >
                                    <i style="font-size:0.9rem;" class="fas fa-link"></i>
                                </a>
                            </span>
                            <p class="position-time">September 2017 ~ Present</p>
                        </div>
                        <p>
                            I am the Project Manager and Lead for development of internal Information 
                            Management System. 
                        </p>
                    </div>
                </div>
                <div class="container-tl right">
                    <div class="content">
                        <h2 class="position-title">Regional Administrator Team Lead</h2>
                        <div class="position-info">
                            <span class="position-location">
                            <div>BAPS-North America </div>
                                <a href="https://www.baps.org"  >
                                    <i style="font-size:0.9rem;" class="fas fa-link"></i>
                                </a>
                            </span>
                            <p class="position-time">August 2015 ~ July 2018</p>
                        </div>
                        <p>
                            I was the Team Lead for a small team of Regional Administrators 
                            that supported projects and events in the Southeast Region and 
                            North America.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </span>
    <span class="resume-section resume-edu row">
        <h2 class="header col-12">Education</h2>
        <h3 class="col-12">Integrated Bachealors and Masters Program at Mercer University                        
            <a href="https://www.mercer.edu/">
                <i style="font-size:1rem;" class="fas fa-link"></i>
            </a>
        </h3>
        <span class="col-lg-6 col-xs-12"> 
            <h4>Master's in Software Engineering</h4>
            <p>August 2017 ~ May 2019</p>
        </span>
        <span class="col-lg-6 col-xs-12">
            <h4>Bachealor's in Biomedical Engineering</h4>
            <p>August 2015 ~ May 2019</p>
        </span>
        <span>
            <strong>Fun Fact</strong>: I am the first student to complete the <u>5 Year</u> Integrated Bachealors and Masters Program
            in <strong>4 years</strong>!
        </span>
    </span>
    <span class="resume-section resume-skills row">
        <h2 class="header col-12">Skills</h2>
        <span class="col-xs-12 col-lg-4">
            <h3>Languages</h3>
            <ul>
                <li>Javascript</li>
                <li>Java</li>
                <li>C++</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>XML</li>
                <li>Assembly</li>
            </ul>
        </span>
        <span class="col-xs-12 col-lg-4">
            <h3>Technologies/Frameworks</h3>
            <ul>
                <li>Git</li>
                <li>Github</li>
                <li>ExpressJS</li>
                <li>Node.js</li>
                <li>PassportJS</li>
                <li>Bootsrap</li>
                <li>Semantic UI</li>
                <li>Google Firebase</li>
                <li>Google App Script</li>
            </ul>
        </span>
        <span class="col-xs-12 col-lg-4">
            <h3>Technical Skills</h3>
            <ul>
                <li>Project Management</li>
                <li>Agile Methodology</li>
                <li>Product Design</li>
                <li>Software Requirements Gathering</li>
                <li>Software Documentation</li>
                <li>Unit Testing</li>
                <li>Data Collection and Analysis</li>
            </ul>
        </span>
    </span>
    <hr>
</div>
    
<% include partials/footer %>
