<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/timeline.css">
    <div class="container">
        <h1>Resume</h1>
        <hr>
        <h2 style="text-align:center">Experience</h2>
        <div class="row">
            <div class="col-lg-6 col-xs-12">
                <h4 style="text-align:center">Work History</h4>
                <div class="timeline ">
                    <div class="container-tl right">
                        <div class="content">
                            <h2 class="position-title">Visiting Researcher</h2>
                            <div class="position-info">
                                <span class="position-location">
                                <div>Georgia Tech Research Institute</div>
                                    <a href="https://www.gtri.gatech.edu/"  >
                                        <i style="font-size:0.9rem;" class="fas fa-link"></i>
                                    </a>
                                </span>
                                <p class="position-time">December 2018 ~ Present</p>
                            </div>
                            <p>
                                Make android apps.
                            </p>
                        </div>
                    </div>
                    <div class="container-tl right">
                        <div class="content">
                            <h2 class="position-title">Program & Portfolio Management Intern</h2>
                            <div class="position-info">
                                <span class="position-location">
                                <div>Ultragenyx Pharmaceuticals</div>
                                    <a href="https://www.ultragenyx.com/"  >
                                        <i style="font-size:0.9rem;" class="fas fa-link"></i>
                                    </a>
                                </span>
                                <p class="position-time">May 2018 ~ August 2018</p>
                            </div>
                            <p>
                                Managed sharepoint stuff
                            </p>
                        </div>
                    </div>
                    <div class="container-tl right">
                        <div class="content">
                            <h2 class="position-title">Medical Operations Intern</h2>
                            <div class="position-info">
                                <span class="position-location">
                                <div>UCB, Inc.</div>
                                    <a href="https://www.ucb-usa.com/Home"  >
                                        <i style="font-size:0.9rem;" class="fas fa-link"></i>
                                    </a>
                                </span>
                                <p class="position-time">May 2017 ~ August 2017</p>
                            </div>
                            <p>
                                Managed sharepoint stuff
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12">
                <h4 style="text-align:center">Volunteerism</h4>
                <div class="timeline">
                    <div class="container-tl right">
                        <div class="content">
                            <h2 class="position-title">Project Manager</h2>
                            <div class="position-info">
                                <span class="position-location">
                                <div>BAPS-North America</div>
                                    <a href="https://www.baps.org"  >
                                        <i style="font-size:0.9rem;" class="fas fa-link"></i>
                                    </a>
                                </span>
                                <p class="position-time">September 2017 ~ Present</p>
                            </div>
                            <p>
                                I am the Project Manager and Lead for development of internal Information 
                                Management System. 
                            </p>
                        </div>
                    </div>
                    <div class="container-tl right">
                        <div class="content">
                            <h2 class="position-title">Regional Administrator Team Lead</h2>
                            <div class="position-info">
                                <span class="position-location">
                                <div>BAPS-North America </div>
                                    <a href="https://www.baps.org"  >
                                        <i style="font-size:0.9rem;" class="fas fa-link"></i>
                                    </a>
                                </span>
                                <p class="position-time">August 2015 ~ July 2018</p>
                            </div>
                            <p>
                                I was the Team Lead for a small team of Regional Administrators 
                                that supported projects and events in the Southeast Region and 
                                North America.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

<% include partials/footer %>
