body {
    font-family:  'Open Sans', sans-serif;
    height: 100%;
    background-color: #f8f9fa !important;
}

footer{
    width: 100%;
    background-color: #89c8f7;
    color:  black;
    margin: 0;
    padding: 1rem;
}

.container{
    max-width: 87%;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

hr {
    border-color: white;;
}

.project-info {
    line-height: 2rem;
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
}

.project-client {
    color: darkgray;
}

.project-detail {
    padding-left: 1rem;
    padding-right: 0;
}

.project-detail-title {
    font-size: 1.2rem;
    color: darkgray;
}

.project-detail-item a:hover, .position-location a:hover{
    color: #89c8f7;
    text-decoration: none;
}

.project-detail-item a, .position-location a {
    color: #212529;
}

.project-detail-item {
    list-style-type: none;
    margin-left: -1.5rem;
}

.navbar {
    background-color:#e3f2fd;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card {
    margin-top: 0.5rem;
    border-width: 0.1rem;
}


