<% include ../partials/header %>

    <div class="container">
        <div class="row">
            <h2 class="project-name col-11">BK Management System</h2>
            <h5 class="project-client col-11">BAPS, Inc</h5>
            <i class="fas fa-chevron-down toggle col-1 d-sm-none d-xs-block"></i> 
        </div>
        <hr>
        <div class="row">
            <aside class="sidebar col-xs-12 col-md-3 d-sm-block d-none">
                <div class="row">
                    <div class="project-detail col-xl-12 col-xs-4">
                        <h5 class="project-detail-title">Time Frame</h5>
                        <ul>
                            <li class="project-detail-item">
                                September 2017 ~ Present
                            </li>
                        </ul>
                    </div>
                    <div class="project-detail col-xl-12 col-xs-4">
                        <h5 class="project-detail-title">Project Type</h5>
                        <ul>
                            <li class="project-detail-item">
                                Volunteer Project
                            </li>
                        </ul>
                    </div>
                    <div class="project-detail col-xl-12 col-xs-4">
                            <h5 class="project-detail-title">Link</h5>
                            <ul>
                                <li class="project-detail-item">
                                    <a href="https://bk.na.baps.org" rel="noopener noreferrer" target="_blank">BKMS</a>
                                </li>
                            </ul>
                        </div>
                    <div class="project-detail col-xl-12 col-xs-4">
                        <h5 class="project-detail-title">Related Skills</h5>
                        <ul>
                            <li class="project-detail-item">
                                Project Management
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>

            <article class="col-xs-12 col-md-9 project-info">
                <p>
                    The BK Management System is an online information management system that handles data collection and analysis, 
                    event registration, payment processing and database upkeep. The system's purpose is to provide support for the distributed youth development 
                    teams in North America. 
                </p>

                <p>
                    The development of the system has been going on since mid-2017 and my role in the development has been Project Manager. Following an Agile methodology, 
                    I have held daily meetings with the developers to: 
                <ul>
                    <li>provide user stories and specifications for new features.</li>
                    <li>test and provide feedback on completed features.</li>
                    <li>review and adjust the project timeline as needed.</li>
                </ul>
                    More details on my responsibilities as the Project Manager can be seen on my <a href="#">resume</a>.
                </p> 
                

            </article>


        </div>
    </div>

<% include ../partials/footer %>
