<% include ../partials/header %>

    <div class="container">
        <div class="row">
            <h2 class="project-name col-11">BK Management System Mobile App</h2>
            <h5 class="project-client col-11">BAPS, Inc</h5>
            <i class="fas fa-chevron-down toggle col-1 d-sm-none d-xs-block"></i> 
        </div>
        <hr>
        <div class="row">
            <aside class="sidebar col-xs-12 col-md-3 d-sm-block d-none">
                <div class="row">
                    <div class="project-detail col-xl-12 col-xs-4">
                        <h5 class="project-detail-title">Time Frame</h5>
                        <ul>
                            <li class="project-detail-item">
                                November 2018 ~ Present
                            </li>
                        </ul>
                    </div>
                    <div class="project-detail col-xl-12 col-xs-4">
                        <h5 class="project-detail-title">Project Type</h5>
                        <ul>
                            <li class="project-detail-item">
                                Volunteer Project
                            </li>
                        </ul>
                    </div>
                    <div class="project-detail col-xl-12 col-xs-4">
                            <h5 class="project-detail-title">Link</h5>
                            <ul>
                                <li class="project-detail-item">
                                    <a href="#">In Progress</a>
                                </li>
                            </ul>
                        </div>
                    <div class="project-detail col-xl-12 col-xs-4">
                        <h5 class="project-detail-title">Related Skills</h5>
                        <ul>
                            <li class="project-detail-item">
                                Mobile Application Development
                            </li>
                            <li class="project-detail-item">
                                Project Management
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>

            <article class="col-xs-12 col-md-9 project-info">
                <p>
                    The BK Management System is an online information management system that handles data collection and analysis, 
                    event registration, payment processing and database upkeep. More information can be found on the <a href="BKMS">BK Management System project page</a>.
                </p>
                <p>
                    A mobile app for iPhone and Android is currently being developed to provide volunteers access to the BK Management System through 
                    their mobile devices. The app codebase will be created in Javascript, then transpiled into Java for Android and Objective C for iPhone. 
                    The app is being created using:
                    <ul>
                        <li>MySQL</li>
                        <li>Node.js</li>
                        <li>MongoDB</li>
                        <li>ExpressJS</li>
                        <li>React</li>
                        <li>React Native</li>
                    </ul>
                </p>

            </article>

        </div>
    </div>

<% include ../partials/footer %>
