<% include ../partials/header %>

    <div class="container">
        <div class="row">
            <h2 class="project-name col-11">Custom Box Mobile App</h2>
            <h5 class="project-client col-11"></h5>
            <i class="fas fa-chevron-down toggle col-1 d-sm-none d-xs-block"></i> 
        </div>
        <hr>
        <div class="row">
            <aside class="sidebar col-xs-12 col-md-3 d-sm-block d-none">
                <div class="row">
                    <div class="project-detail col-xl-12 col-xs-4">
                        <h5 class="project-detail-title">Time Frame</h5>
                        <ul>
                            <li class="project-detail-item">
                                2017 
                            </li>
                        </ul>
                    </div>
                    <div class="project-detail col-xl-12 col-xs-4">
                        <h5 class="project-detail-title">Project Type</h5>
                        <ul>
                            <li class="project-detail-item">
                                Volunteer Project
                            </li>
                        </ul>
                    </div>
                    <div class="project-detail col-xl-12 col-xs-4">
                            <h5 class="project-detail-title">Link</h5>
                            <ul>
                                <li class="project-detail-item">
                                    Not Applicable.
                                </li>
                            </ul>
                        </div>
                    <div class="project-detail col-xl-12 col-xs-4">
                        <h5 class="project-detail-title">Related Skills</h5>
                        <ul>
                            <li class="project-detail-item">
                                Android Application Development
                            </li>
                            <li class="project-detail-item">
                                Box API                            
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>

            <article class="col-xs-12 col-md-9 project-info">
                <p">
                    <a href="www.box.com">Box</a> is a cloud content management and file sharing service for businesses. A friend uses Box 
                    to manage his team's tasks and day-to-day operations. 
                </p>
                <p">
                    I created an Android app using the Box API to allow the team lead to see a detailed view of all activity, remaining tasks and 
                    upcoming deadlines in a concise view without leaving the app.
                </p>
            </article>


        </div>
    </div>

<% include ../partials/footer %>
