<% include ../partials/header %>

    <div class="container">
        <div class="row">
            <h2 class="project-name col-11">Volunteer CICO System</h2>
            <h5 class="project-client col-11">Local Food Kitchen</h5>
            <i class="fas fa-chevron-down toggle col-1 row-2 d-sm-none d-xs-block"></i> 
        </div>
        <hr>
        <div class="row">
            <aside class="sidebar col-xs-12 col-md-3 d-sm-block d-none">
                <div class="row">
                    <div class="project-detail col-xl-12 col-xs-4">
                        <h5 class="project-detail-title">Time Frame</h5>
                        <ul>
                            <li class="project-detail-item">
                                Spring 2018
                            </li>
                        </ul>
                    </div>
                    <div class="project-detail col-xl-12 col-xs-4">
                        <h5 class="project-detail-title">Project Type</h5>
                        <ul>
                            <li class="project-detail-item">
                                Class Project
                            </li>
                        </ul>
                    </div>
                    <div class="project-detail col-xl-12 col-xs-4">
                            <h5 class="project-detail-title">Link</h5>
                            <ul>
                                <li class="project-detail-item">
                                    Desktop App (No Link)
                                </li>
                            </ul>
                        </div>
                    <div class="project-detail col-xl-12 col-xs-4">
                        <h5 class="project-detail-title">Related Skills</h5>
                        <ul>
                            <li class="project-detail-item">
                                Application Development
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>

            <article class="col-xs-12 col-md-9 project-info">
                <p">
                    In the spring semester of 2018, I took a Master's class in Application Development. 
                    The class consisted of two final projects. One of which, required me to create a Check In 
                    Check Out (CICO) system for all volunteers at a local food kitchen. 
                </p>

                <p>
                    The CICO system was a form based Windows desktop application created using 
                    Java and MySQL. The application had to satisfy the following requirements:
                </p>
                <ul>
                    <li>Allow volunteers to check in and check out.</li>
                    <li>Export data in an Excel format displaying volunteers and total volunteer time by day.</li>
                    <li>Allow old and new volunteers without developer assisstance.</li>
                </ul>
                <p>The application was created using:</p>
                <ul>
                    <li>Java</li>
                    <li>MySQL</li>
                </ul>

            </article>


        </div>
    </div>

<% include ../partials/footer %>
