<% include ../partials/header %>

    <div class="container">
        <div class="row">
            <h2 class="project-name col-11">Georgia Condom Finder Android App</h2>
            <h5 class="project-client col-11">Georgia Health Department</h5>
            <i class="fas fa-chevron-down toggle col-1 d-sm-none d-xs-block"></i> 
        </div>
        <hr>
        <div class="row">
            <aside class="sidebar col-xs-12 col-md-3 d-sm-block d-none">
                <div class="row">
                    <div class="project-detail col-xl-12 col-xs-4">
                        <h5 class="project-detail-title">Time Frame</h5>
                        <ul>
                            <li class="project-detail-item">
                                2018
                            </li>
                        </ul>
                    </div>
                    <div class="project-detail col-xl-12 col-xs-4">
                        <h5 class="project-detail-title">Project Type</h5>
                        <ul>
                            <li class="project-detail-item">
                                Class Project
                            </li>
                            <li class="project-detail-item">
                                Side Project
                            </li>
                        </ul>
                    </div>
                    <div class="project-detail col-xl-12 col-xs-4">
                            <h5 class="project-detail-title">Link</h5>
                            <ul>
                                <li class="project-detail-item">
                                    In Progress
                                </li>
                            </ul>
                        </div>
                    <div class="project-detail col-xl-12 col-xs-4">
                        <h5 class="project-detail-title">Related Skills</h5>
                        <ul>
                            <li class="project-detail-item">
                                Android Application Development
                            </li>
                            <li class="project-detail-item">
                                Google Firebase
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>

            <article class="col-xs-12 col-md-9">
                <p class="project-info">
                    In 2016, Georgia ranked in the top 5 for rates of reported chlamydia, 
                    gonorrhea and primary and secondary syphilis cases in the country. An alarming stat, at the least, 
                    which resulted in a professor, who works for the Georgia Health Department, enlisting the services of me and another student to help him create an app, 
                    initially as a class project.
                </p>

                <p class="project-info">
                    My partner and I met with the professor several times throughout the 2018 Spring semester to gather specifications 
                    and get feedback on features that we had built out. The project started as a class project, but we continued the development 
                    after the end of the semester and took the app on as a side project of ours. The development of the app is still in progress.
                </p>

            </article>


        </div>
    </div>

<% include ../partials/footer %>
