<% include ../partials/header %>

    <div class="container">
        <div class="row">
            <h2 class="project-name col-11">Yelpcamp</h2>
            <h5 class="project-client col-11">Coding Bootcamp</h5>
            <i class="fas fa-chevron-down toggle col-1 d-sm-none d-xs-block"></i> 
        </div>
        <hr>
        <div class="row">
            <aside class="sidebar col-xs-12 col-md-3 d-sm-block d-none">
                <div class="row">
                    <div class="project-detail col-lg-12 col-xs-6">
                        <h5 class="project-detail-title">Time Frame</h5>
                        <ul>
                            <li class="project-detail-item">
                                Summer 2018
                            </li>
                        </ul>
                    </div>
                    <div class="project-detail col-lg-12 col-xs-6">
                        <h5 class="project-detail-title">Project Type</h5>
                        <ul>
                            <li class="project-detail-item">
                                Side Project
                            </li>
                        </ul>
                    </div>
                    <div class="project-detail col-lg-12 col-xs-6">
                            <h5 class="project-detail-title">Link</h5>
                            <ul>
                                <li class="project-detail-item">
                                    <a href="https://hidden-headland-35703.herokuapp.com" rel="noopener noreferrer" target="_blank">YelpCamp</a>
                                </li>
                            </ul>
                        </div>
                    <div class="project-detail col-lg-12 col-xs-6">
                        <h5 class="project-detail-title">Related Skills</h5>
                        <ul>
                            <li class="project-detail-item">
                                Frontend Development
                            </li>
                            <li class="project-detail-item">
                                Backend Development
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>

            <article class="col-xs-12 col-md-9 project-info">
                <p>
                    YelpCamp,essentially Yelp for campgrounds, was a final project for a coding bootcamp I participated in during the Summer of 2018. 
                    YelpCamp allows users to post pictures and comments on campgrounds, along with pricing associated with the campground. Each campground also has an 
                    associated comments feature for other users. Users can also delete their own comments and campgrounds if needed. 
                    A link to the running project can be found <a href="https://hidden-headland-35703.herokuapp.com">here</a>, hosted on Heroku.
                </p>

                <p>
                    YelpCamp was created using the following: 
                    <ul>
                        <li>Node.js</li>
                        <li>Express</li>
                        <li>MongoDB</li>
                        <li>Mongoose</li>
                        <li>PassportJS</li>
                        <li>Boostrap</li>
                        <li>Several other supporting libraries, such as express-session, passport-local, method-override etc.</li>
                    </ul>
                </p>

            </article>


        </div>
    </div>

<% include ../partials/footer %>
