<% include ../partials/header %>

    <div class="container">
        <div class="row">
            <h2 class="project-name col-11">Yelpcamp</h2>
            <h5 class="project-client col-11">Coding Bootcamp</h5>
            <i class="fas fa-chevron-down toggle col-1 d-sm-none d-xs-block"></i> 
        </div>
        <hr>
        <div class="row">
            <aside class="sidebar col-xs-12 col-md-3 d-sm-block d-none">
                <div class="row">
                    <div class="project-detail col-xl-12 col-xs-4">
                        <h5 class="project-detail-title">Time Frame</h5>
                        <ul>
                            <li class="project-detail-item">
                                Summer 2018
                            </li>
                        </ul>
                    </div>
                    <div class="project-detail col-xl-12 col-xs-4">
                        <h5 class="project-detail-title">Project Type</h5>
                        <ul>
                            <li class="project-detail-item">
                                Side Project
                            </li>
                        </ul>
                    </div>
                    <div class="project-detail col-xl-12 col-xs-4">
                            <h5 class="project-detail-title">Link</h5>
                            <ul>
                                <li class="project-detail-item">
                                    <a href="#">Coming Soon</a>
                                </li>
                            </ul>
                        </div>
                    <div class="project-detail col-xl-12 col-xs-4">
                        <h5 class="project-detail-title">Related Skills</h5>
                        <ul>
                            <li class="project-detail-item">
                                Web Development
                            </li>
                            <li class="project-detail-item">
                                MongoDB
                            </li>
                            <li class="project-detail-item">
                                ExpressJS
                            </li>
                            <li class="project-detail-item">
                                NodeJS
                            </li>
                            <li class="project-detail-item">
                                Boostrap
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>

            <article class="col-xs-12 col-md-9">
                <p class="project-info">
                    BKMS.
                </p>

                <p class="project-info">
                    BKMS.
                </p>

            </article>


        </div>
    </div>

<% include ../partials/footer %>
